:root {
  --color-headings: #264653;
  --color-text: #e76f51;
  --color-body: #f4a261;
  --color-footer: #e9c46a;
  --color-hover: #2a9d8f;
  --heading-font-size: 3em;
  --border-radius: 10px;
  --border-color: grey;
}

header {
  grid-area: header;
  color: var(--color-text);
  background-color: var(--color-headings);
  padding: 10px;
}

main {
  background-color: var(--color-body);
  padding: 10px;
}

footer {
  grid-area: footer;
  color: var(--color-text);
  text-align: center;
  background-color: var(--color-footer);
  padding: 10px;
}

ul {
  list-style: none;
}

.widget_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Navbar Header */
.rl101_header {
  font-size: 60px;
}

.nav {
  background: var(--color-headings);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 5px;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
}

.nav_list {
  width: 100%;
  margin: 0;
}

.nav_item {
  padding: 0.5rem 2rem;
}

.nav_item > a {
  color: var(--color-text);
  transition: color 0.3s;
  text-decoration: none;
}

.nav_item > a:hover {
  color: white;
}

.nav_brand {
  color: var(--color-text);
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .nav_list {
    width: auto;
    display: flex;
    font-size: 1.5rem;
    max-height: 100%;
    opacity: 1;
  }
}

/* Hero */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block_header {
  text-align: center;
}

.block_heading {
  margin-top: 0;
}

.block-dark {
  background-color: var(--color-body);
  color: hotpink;
}

.block-dark .block_heading {
  color: #fff;
}

.hero_tagline {
  font-size: 2rem;
  color: peru;

  margin: 2rem 0 5rem;
}

.hero_image {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .hero .grid-2-col {
    grid-template-columns: 1fr;
  }
  .hero_image {
    display: none;
  }
}

/* Featured Highlights */

.featured_paras {
  font-size: 30px;
}

.card {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px var(--color-hover);
  background-color: moccasin;
}

.card:hover {
  box-shadow: 0 0 20px 10px white;
}

.card_header {
  font-size: 32px;
}

.card_body,
.card_header {
  padding: 1rem 1.5rem;
}

.card_img img {
  width: 100%;
}

.card_wrapper > .card {
  width: 32%;
  box-sizing: border-box;
}

.card_wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Footer */
#main-page-footer {
  display: flex;
  justify-content: space-evenly;
}
